html,body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: url(../bg.jpg) no-repeat #2d2d2d;
  background-size: cover;
  color: white;
  height: 100%;
  overflow-y: auto;
  box-shadow: 0 0 10px black;
}

.center {
  flex-grow: 2;
}

.clock {
  text-align: center;
  font-size: 10em;
  padding: .1em;
  text-shadow: 0 1px 2px #aaa;
  -webkit-user-select: none;
  cursor: default;
}

.date {
  font-size: 3em;
  text-align: center;
  margin-top: -.6em;
  text-shadow: 0 1px 2px #aaa;
  -webkit-user-select: none;
  cursor: default;
}

.calendar-tasks {
  font-size: 1.5em;
  margin-top: .5em;
}

.calendar-tasks li {
  padding: .3em;
  margin-bottom: .3em;
  background: rgba(255,255,255,.9);
  color: #2d2d2d;
  border-radius: 3px;
  box-shadow:0 1px 2px #aaa;
  transition: .5s;
  cursor: pointer;
}

.calendar-tasks li:hover {
  background: rgba(255,255,255,1);
}

.calendar-tasks i {
  font-size: 1.3em;
  vertical-align: middle;
  width: 1em;
  text-align: center;
}

.calendar-tasks span {
  vertical-align: middle;
  padding-left: .1em;
  display: inline-block;
}

.calendar-tasks .new {
  text-align: center;
}

.calendar-tasks .time {
  opacity: .9;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.launcher {
  flex-grow: 1;
  font-size: 2em;
  padding-left: .5em;
}

.launcher li, .apps li {
  cursor: pointer;
  margin-bottom: .5em;
}

.launcher span {
  opacity: 0;
  display: inline-block;
  transition: .5s;
  vertical-align: middle;
}

.launcher li:hover span {
  opacity: 1;
}

.launcher i {
  width: 1em;
  text-align: center;
  font-size: 2em;
  color: rgba(255,255,255,.93);
  vertical-align: middle;
}

.apps {
  flex-grow: 1;
  font-size: 2em;
  padding-right: .5em;
  text-align: right;
}

.apps > ul {
}

.apps li ul li {
  font-size: .6em;
  margin: 0;
  opacity: .9;
}

.container {
  transition: 1s;
  left: 0px;
  z-index: 2;
}

.left-container, .right-container {
  position: absolute;
  z-index: 1;
  height: 100%;
  overflow-y: auto;
  width: 20em;
  background: #2d2d2d;
  color: white;
}

.right-container {
  right: 0;
}

.container.left {
  left: 20em;
}

.container.right {
  left: -20em;
}

.app-list li {
  padding: .5em;
  transition: .5s;
  cursor: pointer;
}

.app-list li:hover {
  background: rgba(255,255,255,.1);
}

.app-list img {
  width: 20%;
  display: inline-block;
  vertical-align: middle;
}

.app-list span {
  font-size: 1.7em;
  display: inline-block;
  vertical-align: middle;
  text-overflow : ellipsis;
  white-space   : nowrap;
  width         : 80%;
  overflow      : hidden;
  padding-left: .5em;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
}
 
::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: rgba(255,255,255,0.3); 
}